.add-new-category {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-self: end;
}

.add-new-category-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.add-new-category-form__input {
  border: none;
  display: flex;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  font-size: 12px;
  line-height: 1.35;
  padding: 10px 10px;
  flex-grow: 1;
  transition: all .3ms ease;
  box-sizing: border-box;
}

.add-new-category-form__input::placeholder {
  color: rgba(189, 189, 189, 1);
}

.add-new-category-form__input:focus {
  outline: none;
  -webkit-appearance: none;
  box-shadow: -.3px -.3px 2px 2px var(--orange-color);
}

.add-new-category-form__submit-btn {
  border: none;
  border-radius: 12px;
  width: 100px;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.35;
  color: var(--white-color);
  background-color: var(--orange-color);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  opacity: .8;
  box-sizing: border-box;
}

.add-new-category-form__submit-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.add-new-category-form__submit-btn_disabled {
  background-color: var(--grey-color2);
}

.add-new-category-form__error {
  min-height: 14px;
  font-size: 12px;
  color: var(--red-color);
}

@media screen and (max-width: 1005px) {
  .add-new-category {
    align-self: flex-start;
    width: 300px;
  }
}

@media  screen and (max-width: 740px) {
  .add-new-category {
    width: 100%;
  }
  .add-new-category-form {
    gap: 8px;
  }
  .add-new-category-form__submit-btn {
    width: 80px;
    font-size: 10px;
  }
}

@media  screen and (max-width: 375px) {
  .add-new-category-form {
    gap: 2px;
  }
  .add-new-category-form__input {
    line-height: 1.2;
  }
}
