.profile {
  grid-column: 2/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 130px auto 0;
}

.profile-form__heading {
  width: 100%;
  text-align: center;
  margin: 0 0 50px;
  font-size: 24px;
  line-height: 1.25;
}

.profile-form__user-name {
  color: var(--orange-color);
}

.profile-form__fieldset {
  display: flex;
  flex-direction: column;
}

.profile-form__input {
  border: 2px solid #BDBDBD;
  border-radius: 12px;
  padding: 17px 21px;
  font-size: 14px;
  line-height: 1.28;
}

.profile-form__input::placeholder {
  color: var(--grey-color2);
}

.profile-form__input:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: -2px;
}

.profile-form__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.25;
  gap: 6px;
  margin: 0 0 15px 0;
}

.profile-form__label:focus-within {
  color: var(--orange-color);
}

@media screen and (max-width: 890px) {
  .profile-form {
    width: 280px;
  }
}

@media screen and (max-width: 740px) {
  .profile {
   grid-column: 2/3;
    grid-row: 1/4;
  }
}

@media screen and (max-width: 680px) {
  .profile {
    grid-column: 2/4;
  }
}

@media screen and (max-width: 475px) {
  .profile {
    width: 80%;
  }
  .profile-form {
    width: 100%;
    margin-top: 80px;
  }
}
