.categories {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-row: 2;
  grid-column: 2/4;
  padding: 20px 65px 80px;
  background-color: var(--grey-color);
}

@media screen and (max-width: 1005px) {
  .categories {
    padding: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 740px) {
  .categories {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}

@media screen and (max-width: 680px) {
  .categories {
    grid-column: 2/4 ;
  }
}

@media screen and (max-width: 375px) {
  .categories {
    grid-column: 2/4;
    width: 100%;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
  }
}
