.not-found {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.not-found__heading {
  font-size: 32px;
  line-height: 1.25;
  margin: 0;
}

.not-found__return-link {
  width: 120px;
  background-color: var(--orange-color);
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
  padding: 20px 0;
  text-decoration: none;
  transition: all 0.3ms ease;
  border: none;
}

.not-found__return-link {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .not-found {
    grid-row: 2/-1;
  }
}
