:root {
  --white-color: rgb(255, 255, 255);
  --grey-color: rgba(250, 250, 254, 1);
  --grey-color2: rgba(193, 193, 196, 1);
  --orange-color: rgba(249, 161, 9, 1);
  --black-grey-color: rgba(69, 69, 69, 1);
  --red-color: rgba(235, 87, 87, 1);
  --burgundy-color: rgba(128, 72, 91, 1);
  --dark-brown-color: rgba(52, 51, 58, 1);
  --light-orange-color: rgba(255, 240, 222, 1);
  --medium-grey-color: rgba(130, 130, 130, 1);
  --light-blue-color: rgba(86, 204, 242, 1);
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--grey-color);
  color: rgb(0,0,0);
  font-family: 'Quicksand', Arial, sans-serif;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.app {
  width: 100%;
  margin: 0 auto;
  display: grid;
  /*grid-template-columns: 93px minmax(auto, 480px) minmax(auto, 480px) minmax(auto, 380px);*/
  grid-template-columns: 93px auto auto 380px;
  grid-auto-rows: 100px minmax(100px, auto);
}

@media screen and (max-width: 1005px) {
  .app {
    /*grid-template-columns: 93px 1fr .5fr 1fr;*/
    grid-template-columns: 93px auto auto 300px;
  }
}

@media screen and (max-width: 890px) {
  .app {
    /*grid-template-columns: 93px .5fr .5fr 1fr;*/
  }
}

@media screen and (max-width: 740px) {
  .app {
    grid-template-columns: 70px auto minmax(250px, 300px);
    grid-template-rows: 70px 70px auto;
  }
}

@media screen and (max-width: 600px) {
  .app {
    grid-template-columns: 70px auto auto;
  }
}

@media screen and (max-width: 375px) {
  .app {
    grid-template-columns: 70px 1fr 1fr;
  }
}




