.shopping-history {
  grid-column: 2/4;
  grid-row: 1/3;
  padding: 37px 80px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.shopping-history__heading {
  font-size: 26px;
  line-height: 1.25;
  font-weight: 700;
  padding: 0;
  margin: 0 0 40px 0;
}

.shopping-history__lists-by-month {
  margin: 0 0 50px 0;
}

.shopping-history__month-and-year {
  font-size: 12px;
  line-height: 1.25;
  margin: 0 0 17px 0;
}

.shopping-history__shopping-list {
  display: flex;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  justify-content: space-between;
  padding: 20px 20px;
  box-sizing: border-box;
  align-items: center;
  transition: all .3ms ease;
  margin: 0 0 20px 0;
  text-decoration: none;
}

.shopping-history__shopping-list:hover {
  cursor: pointer;
  opacity: .7;
}

.shopping-history__shopping-list-data {
  display: flex;
  gap: 26px;
}

.shopping-list__shopping-list-name {
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  color: black;
}

.shopping-history__shopping-list__date {
  width: 112px;
  background-image: url('../../images/calendar_month_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: 18px 20px;
  background-repeat: no-repeat;
  background-position: left;
  padding: 5px 0 5px 30px;
  font-size: 12px;
  line-height: 1.25;
  color: var(--grey-color2);
  margin: 0;
  align-self: center;
}

.shopping-history__shopping-list__date_long {
  display: block;
}

.shopping-history__shopping-list-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  width: 76px;
  border-radius: 8px;
  text-align: center;
}

.shopping-history__shopping-list-status_completed {
  color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
}

.shopping-history__shopping-list-status_cancelled {
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

.shopping-history__shopping-list-open-icon {
  width: 25px;
  height: 20px;
  background-image: url('../../images/chevron_right_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

@media screen and (max-width: 1005px) {
  .shopping-history {
    padding: 25px;
  }
  .shopping-history__heading {
    font-size: 22px;
  }
}

@media screen and (max-width: 890px) {
  .shopping-history__shopping-list {
    padding: 10px;
  }
  .shopping-history__shopping-list-data {
    gap: 10px;
  }
  .shopping-list__shopping-list-name {
    font-size: 12px;
    margin-right: 10px;
  }
  .shopping-history__shopping-list__date {
    width: 90px;
    font-size: 10px;
    padding-left: 20px;
  }
  .shopping-history__shopping-list-status {
    width: 60px;
    font-size: 10px;
  }
  .shopping-history__shopping-list-open-icon {
  }
}

.shopping-history__shopping-list__date_short {
  display: none;
}

@media screen and (max-width: 890px) {
  .shopping-history__shopping-list__date_short {
    display: block;
  }
  .shopping-history__shopping-list__date_long {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .shopping-history {
    grid-column: 2/3;
  }
}

@media screen and (max-width: 680px) {
  .shopping-history {
    grid-column: 2/4;
  }
}

@media screen and (max-width: 410px) {
  .shopping-history {
    padding: 15px;
  }
  .shopping-history__lists-by-month {
    margin-bottom: 15px;
  }
  .shopping-history__shopping-list {
    width: 75%;
  }
  .shopping-history__shopping-list__date {
    display: none;
  }
  .shopping-list__shopping-list-name {
    font-size: 10px;
    max-width: 50px;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .shopping-history__shopping-list-status {
    font-size: 10px;
  }
}
