.shopping-list__category {
  margin: 20px 0;
}
.shopping-list__category-header {
  display: flex;
  gap: 20px;
}

.shopping-list__category-heading {
  margin: 0 0 25px 0;
  font-size: 14px;
  line-height: 1.2;
  color: var(--medium-grey-color);
}

.shopping-list__category-total {
  font-size: 14px;
  line-height: 1.2;
  color: var(--medium-grey-color);
}

@media screen and (max-width: 1005px) {
  .shopping-list__category {
    margin: 10px 0;
  }
  .shopping-list__category-heading {
    margin: 0 0 10px 0;
  }
}
