.logo {
  width: 90px;
  background-color: var(--white-color);
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
}

.logo-img {
  margin: 37px auto 0;
  width: 39px;
  object-fit: contain;
  object-position: top;
}

@media screen and (max-width: 740px) {
  .logo {
    width: 70px;
  }
  .logo-img {
    margin: auto;
  }
}
