.logo {
  width: 90px;
  background-color: var(--white-color);
  display: flex;
}

.logo_backgroundgrey {
  background-color: var(--grey-color);
}

.logo-img {
  margin: 37px auto 0;
  width: 39px;
  object-fit: contain;
  object-position: top;
}

@media screen and (max-width: 740px) {
  .logo {
    width: 70px;
  }
  .logo-img {
    margin: 20px auto;
  }
}
