.upload-bill-popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  z-index: 5;
}

.upload-bill-popup_inactive {
  display: none;
}

.upload-bill-popup__inner-container {
  width: 40%;
  background-color: var(--white-color);
  border-radius: 24px;
  margin: auto;
  position: relative;
  padding: 21px 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.upload-bill-popup__close-btn {
  position: absolute;
  top: 21px;
  right: 35px;
  width: 20px;
  height: 20px;
  background-image: url('../../images/close_FILL0_wght400_GRAD0_opsz48.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: var(--white-color);
  padding: 0;
  transition: all .3ms ease;
}

.upload-bill-popup__close-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.upload-bill-popup__heading {
  margin: 20px 0 35px 0;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

.upload-bill-popup__warning {
  font-size: 10px;
  line-height: 1.25;
  color: darkred;
  margin: 10px 0;
}
.upload-bill-popup__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.upload-bill-popup__actions-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0 0 0;
}

.upload-bill-popup__action-btn {
  width: 95px;
  border: none;
  background-color: var(--orange-color);
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 12px;
  transition: all .3ms ease;
}

.upload-bill-popup__action-btn_disabled {
  background-color: var(--grey-color2);
}

.upload-bill-popup__action-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.upload-bill-popup__list-item {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}

.upload-bill-popup__list-item_notfound > input {
  color: darkred;
}

.upload-bill-popup__item-error{
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  color: var(--red-color);
  font-size: 10px;
  line-height: 1.25;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.upload-bill-popup__list-header {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.upload-bill-popup__list-footer {
  display: flex;
  flex-direction: column;
}

.upload-bill-popup__list-footer-section {
  display: flex;
  justify-content: space-between;
}

.upload-bill-popup__item-name {
  font-size: 14px;
  line-height: 1.25;
  font-weight: 500;
  width: 60%;
}

.upload-bill-popup__item-small-cell {
  font-size: 14px;
  line-height: 1.25;
  font-weight: 500;
  width: 10%;
}

.upload-bill-popup__item-input {
  border: 1px solid var(--orange-color);
  border-radius: 5px;
}

.upload-bill-popup__item-input:focus {
  outline: none;
}

.upload-bill-popup__item-input:focus-visible{
  outline: 1px solid var(--orange-color);
}

.upload-bill-popup__list-header > .upload-bill-popup__item-small-cell {
  font-size: 16px;
  font-weight: 700;
}

.upload-bill-popup__list-header > .upload-bill-popup__item-name {
  font-size: 16px;
  font-weight: 700;
}

.upload-bill-popup__list-footer-section > .upload-bill-popup__item-small-cell {
  font-size: 16px;
  font-weight: 700;
  width: 15%;
  text-align: right;
  padding-right: 15px;
}

.upload-bill-popup__list-footer-section > .upload-bill-popup__item-name {
  font-size: 16px;
  font-weight: 700;
  width: 50%;
  text-align: left;
}

@media screen and (max-width: 1340px) {
  .upload-bill-popup__inner-container {
    width: 50%;
  }
}

@media screen and (max-width: 1020px) {
  .upload-bill-popup__inner-container {
    width: 60%;
  }
}

@media screen and (max-width: 860px) {
  .upload-bill-popup__action-btn {
    width: 75px;
    padding: 10px 0;
    font-size: 12px;
  }
  .upload-bill-popup__list-header > .upload-bill-popup__item-name {
    font-size: 12px;
  }
  .upload-bill-popup__list-header > .upload-bill-popup__item-small-cell {
    font-size: 12px;
  }
  .upload-bill-popup__inner-container {
    padding: 15px 15px;
    width: 70%;
  }
  .upload-bill-popup__close-btn {
    right: 15px;
  }
}

@media screen and (max-width: 550px) {
  .upload-bill-popup__inner-container {
    width: 80%;
  }
  .upload-bill-popup__list-header > .upload-bill-popup__item-small-cell {
   padding-right: 0;
    font-size: 10px;
  }
  .upload-bill-popup__list-header > .upload-bill-popup__item-name {
    padding-right: 0;
    font-size: 10px;
  }
  .upload-bill-popup__item-input {
    font-size: 10px;
  }
  .upload-bill-popup__action-btn {
    font-size: 10px;
  }
  .upload-bill-popup__list-footer-section > .upload-bill-popup__item-small-cell {
    font-size: 12px;
  }
  .upload-bill-popup__list-footer-section > .upload-bill-popup__item-name{
    font-size: 12px;
  }

}

@media screen and (max-width: 375px) {
  .upload-bill-popup__item-small-cell {
    width: 15%;
  }
  .upload-bill-popup__item-small-cell {
    gap: 7px;
  }
}
