.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: var(--grey-color);
}

.category__heading {
  font-size: 18px;
  margin: 0;
  line-height: 1.25;
  font-weight: 700;
}

.category__item-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 140px));
  margin: 0;
  padding: 0;
  column-gap: 20px;
  row-gap: 45px;
}

.category__item-link {
  text-decoration: none;
  max-width: 60px;
}

.category__buttons {
  align-self: center;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1005px) {
  .category__heading {
    font-size: 14px;
  }
  .category__item-list {
    column-gap: 10px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  }

}
