.category__show-moreorless-btn {
  width: 150px;
  border: none;
  background-color: var(--orange-color);
  opacity: .7;
  font-size: 12px;
  color: var(--white-color);
  padding: 10px 10px;
  border-radius: 12px;
  align-self: center;
  transition: all .3ms ease;
}

.category__show-moreorless-btn:hover {
  opacity: .5;
  cursor: pointer;
}
