.search-items-form {
  display: flex;
  flex-direction: column;
}

.search-items-input {
  width: 275px;
  margin: 20px 25px 5px 15px;
  background-color: var(--white-color);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  font-size: 12px;
  line-height: 1.35;
  padding: 17px 19px 17px 63px;
  border: none;
  position: relative;
  overflow: hidden;
  background-image: url('../../images/search_FILL0_wght400_GRAD0_opsz48.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 19px 17px;
  transition: all .3ms ease;
  grid-column: 3/4;
  grid-row: 1/2;
  box-sizing: border-box;
}

.search-items-input::placeholder {
  color: rgba(189, 189, 189, 1);
}

.search-items-input:focus {
  outline: none;
  -webkit-appearance: none;
  box-shadow: -.3px -.3px 2px 2px var(--orange-color);
}

.search-items-form__error {
  font-size: 12px;
  color: var(--red-color);
  height: 12px;
  margin: 0 15px;
}

@media  screen and (max-width: 1005px) {
  .search-items-input {
    width: 220px;
  }
}

@media screen and (max-width: 740px) {
  .search-items-form {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .search-items-input {
    margin: 10px 0 5px 10px;
  }
}
