.shopping-list__item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.shopping-list__item-checkbox {
  width: 24px;
  height: 24px;
  background-color: var(--light-orange-color);
  border: 3px solid var(--orange-color);
  border-radius: 4px;
  margin: 0 16px 0 0;
  transition: all .3ms ease;
}

.shopping-list__item-checkbox:hover{
  opacity: .7;
  cursor: pointer;
}

.shopping-list__item-checkbox_checked {
  background-image: url('../../images/done_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.shopping-list__item-name {
  font-size: 18px;
  line-height: 1.22;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shopping-list__item-name_completed {
  text-decoration: line-through;
}

.shopping-list__item-action-buttons {
  display: flex;
  border-radius: 24px;
  border: 3px solid var(--orange-color);
  background-color: var(--light-orange-color);
}

.shopping-list__item-action-button {
  max-width: 45px;
  min-width: 30px;
  height: 32px;
  border-radius: 24px;
  background-color: var(--light-orange-color);
  border: none;
  color: var(--orange-color);
  font-size: 13px;
  font-weight: 700;
  line-height: 1.25;
  transition: all .3ms ease;
}
.shopping-list__item-action-button_total {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.shopping-list__item-action-button:hover {
  opacity: .7;
  cursor: pointer;
}

.shopping-list__item-action-button_total:hover {
  opacity: 1;
  cursor: auto;
}

.shopping-list__edit-item {
  position: absolute;
  right: 0;
  top: auto;
  height: 45px;
  width: 173px;
  background-color: var(--white-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-list__edit-item-input-error{
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  color: var(--red-color);
  font-size: 10px;
}

.shopping-list__edit-item-editUnitsForm-input {
  width: 80px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.2;
  color: var(--medium-grey-color);
  text-align: center;
  padding: 0;
}
.shopping-list__edit-item-editUnitsForm-input:hover {
  cursor: pointer;
}

.shopping-list__edit-item-editUnitsForm-input:focus {
  outline: none;
}

.shopping-list__edit-item-editUnitsForm-input:focus-visible {
  outline: 2px solid var(--orange-color);
}

.shopping-list__edit-item-action-button {
  width: 37px;
  height: 45px;
  border-radius: 12px;
  border: none;
  background-color: var(--white-color);
  opacity: .8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

.shopping-list__edit-item-action-button_submit{
  background-image: url('../../images/done_icon_orange.svg');
}


.shopping-list__edit-item-action-button_delete {
  background-image: url('../../images/delete_FILL0_wght400_GRAD0_opsz48.svg');
}

.shopping-list__edit-item-action-button_cancel {
  background-image: url("../../images/cancel_icon_orange.svg");
}

.shopping-list__edit-item-action-button:hover {
  cursor: pointer;
}

.shopping-list__change-qty {
  width: 30px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background-color: var(--white-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}

.shopping-list__change-qty:hover {
  cursor: pointer;
}

.shopping-list__change-qty_decrease {
  background-image: url('../../images/remove_FILL0_wght400_GRAD0_opsz48.svg');
}

.shopping-list__change-qty_increase {
  background-image: url('../../images/add_FILL0_wght400_GRAD0_opsz48.svg');
}

.shopping-list__item-quantity_edit {
  align-self: center;
  background-color: var(--white-color);
  font-size: 16px;
  text-align: center;
  width: 20px;
}

.shopping-list__item-quantity_edit:hover {
  cursor: pointer;
}

@media screen and (max-width: 1005px) {
  .shopping-list__item-name {
    font-size: 14px;
  }
  .shopping-list__item-quantity {
    width: 60px;
    height: 27px;
  }
  .shopping-list__edit-item-qty {
    width: 150px;
    height: 27px;
  }
  .shopping-list__delete-item {
    height: 27px;
  }
  .shopping-list__change-qty {
    height: 27px;
  }
}

@media screen and (max-width: 480px) {
  .shopping-list__item-action-button {
    font-size: 10px;
  }
}
