.shopping-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shopping-list_empty {
  align-items: center;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  justify-content: space-between;
}

.shopping-list__no-items {
  font-size: 18px;
  line-height: 1.25;
}

.shopping-list__create-list-btn {
  width: 120px;
  font-size: 14px;
  color: var(--white-color);
  line-height: 1.25;
  border-radius: 12px;
  border: none;
  background-color: var(--grey-color2);
  padding: 10px 5px;
}

.shopping-list__upper-section {
  display: flex;
  gap: 5px;
}

.shopping-list-empty-img {
  width: 100%;
  object-position: center;
  object-fit: contain;
}

@media screen and (max-width: 1005px) {
  /*.shopping-list_empty {*/
  /*  height: calc(100vh - 265px);*/
  /*}*/
}

@media screen and (max-width: 680px) {
  .shopping-list {
    width: 70%;
  }
}

@media screen and (max-width: 380px) {
  .shopping-list {
    width: 65%;
    margin: 0 0 0 10px;
  }
}




