.header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_type_authbar {
  grid-column: 2/5;
  justify-content: center;
  text-align: center;
}

.header__heading {
  width: 80%;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  align-self: flex-start;
  margin: 0 auto;
}

.header__heading-name {
  color: var(--orange-color);
}

@media screen and (max-width: 1335px) {
  .header__heading {
    /*width: 60%;*/
    font-size: 20px;
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 1005px) {
  .header__heading {
    font-size: 16px;
  }
}

@media screen and (max-width: 890px) {
  .header__heading-body {
    display: none;
  }
  .header{
    width: 70%;
  }
}

@media screen and (max-width: 475px) {
  .header_type_authbar {
    width: 100%;
  }
}
