.shopping-list__add-item-form-container {
  background-color: var(--light-orange-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  min-height: 120px;
  margin-bottom: 20px;
}

.shopping-list__add-item-form {
  width: 90%;
  margin: auto;
  border-radius: 12px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
}

.shopping-list__add-item-form_empty {
  outline: none;
}

.shopping-list__add-item-form:focus-within {
  box-shadow: -.3px -.3px 2px 2px var(--orange-color);
}

.shopping-list__add-item-form_empty:focus-within {
  box-shadow: -.3px -.3px 2px 2px var(--grey-color2);
}

.shopping-list__add-item-input {
  border-radius: 12px;
  border: none;
  padding: 0;
  font-size: 14px;
  line-height: 1.25;
  margin: 21px 17px;
}

.shopping-list__add-item-input:focus {
  outline: none;
}

.shopping-list__add-item-submit-btn {
  width: 87px;
  background-color: var(--orange-color);
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--white-color);
  transition: all .3ms ease;
}

.shopping-list__add-item-submit-btn_empty {
  background-color: var(--grey-color2);
}

.shopping-list__add-item-submit-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.shopping-list__add-item-form-container_editSL {
  justify-content: center;
}

.shopping-list__complete-btn {
  width: 118px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  padding: 21px 0;
  border: none;
  border-radius: 12px;
  transition: all .3ms ease;

}

.shopping-list__complete-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.shopping-list__complete-btn_cancel {
  background-color: var(--white-color);
  margin-right: 10px;
}

.shopping-list__complete-btn_complete {
  background-color: var(--light-blue-color);
  color: var(--white-color);
}

.shopping-list__complete-heading {
  margin: 5px auto;
  width: 80%;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
}

.shopping-list__complete-buttons {
  display: flex;
  margin: auto;
}

.shopping-list__add-item-error {
  font-size: 10px;
  color: var(--red-color);
  height: 12px;
  padding: 5px 18px;
}

@media screen and (max-width: 1005px) {
  .shopping-list__add-item-form {
    margin: 25px auto 5px;
  }
  .shopping-list__add-item-submit-btn {
    width: 75px;
    font-size: 12px;
  }
  .shopping-list__add-item-input {
    margin: 12px 15px;
    width: 70%;
  }
  .shopping-list__add-item-form-container_editSL {
    justify-content: center;
  }
  .shopping-list__complete-btn {
    width: 100px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .shopping-list__add-item-form {
    width: 90%;
    margin: 0 auto;
  }

}

