.shopping-list__add-item-form-big-container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.shopping-list__add-item-form-container {
  background-color: var(--white-color);
  width: 389px;
  padding: 40px;
  display: flex;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
}

.shopping-list__add-item-form {
  width: 100%;
  border-radius: 12px;
  outline: 2px solid var(--orange-color);
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.shopping-list__add-item-form_empty {
  outline: 2px solid var(--grey-color2);
}

.shopping-list__add-item-form:focus-within {
  box-shadow: 2px 2px 2px var(--orange-color);
}

.shopping-list__add-item-form_empty:focus-within {
  box-shadow: 2px 2px 2px var(--grey-color2);
}

.shopping-list__add-item-input {
  border-radius: 12px;
  border: none;
  padding: 0;
  font-size: 14px;
  line-height: 1.25;
  margin: 21px 17px;
}

.shopping-list__add-item-input:focus {
  outline: none;
}

.shopping-list__add-item-submit-btn {
  width: 87px;
  background-color: var(--orange-color);
  border: none;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--white-color);
  transition: all .3ms ease;
}

.shopping-list__add-item-submit-btn_empty {
  background-color: var(--grey-color2);
}

.shopping-list__add-item-submit-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.shopping-list__add-item-form-container_editSL {
  justify-content: center;
}

.shopping-list__complete-btn {
  width: 118px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  padding: 21px 0;
  border: none;
  border-radius: 12px;
  transition: all .3ms ease;
}

.shopping-list__complete-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.shopping-list__complete-btn_cancel {
  background-color: var(--white-color);
  margin-right: 10px;
}

.shopping-list__complete-btn_complete {
  background-color: var(--light-blue-color);
  color: var(--white-color);
}

.shopping-list-empty-img {
  width: 389px;
  height: 200px;
  background-image: url('../../images/undraw_shopping_app_flsj 1.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 3;
  position: fixed;
  bottom: 135px;
}
