.upload-bill-sector,.upload-bill-chooseSection {
  display: flex;
  margin: 0 auto;
  width: 90%;
  gap: 15px;
}

.upload-bill-chooseSection {
  display: flex;
  margin: 0 auto;
  width: 90%;
  gap: 15px;
  justify-content: center;
}

.upload-bill-button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-image: url('../../images/upload_file_FILL0_wght400_GRAD0_opsz48.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--light-orange-color);
}

.upload-bill-heading {
  text-align: center;
  margin: 0;
  line-height: 1.2;
  display: flex;
  align-items: center;
  width: 100%;
}

.upload-bill-form {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto 10px auto;
  padding: 0;
}

.upload-bill-form__input {
  width: 83%;
}

.upload-bill-form__input::file-selector-button {
  border: none;
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 10px 15px;
  border-radius: 10px;
}

.upload-bill-form__input::file-selector-button:hover {
  opacity: .7;
  cursor: pointer;
}

.upload-bill-form__submit-btn {
  border: none;
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 10px 15px;
  border-radius: 10px;
}

.upload-bill-chooseSection__button {
  border: none;
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 10px;
  width: 150px;
}

.upload-bill-chooseSection__button:hover {
  opacity: .7;
  cursor: pointer;
}

@media  screen and (max-width: 675px) {
  .upload-bill-chooseSection__button {
    width: 120px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .upload-bill-heading {
    font-size: 14px;
  }
  .upload-bill-form__input::file-selector-button, .upload-bill-form__submit-btn {
    font-size: 12px;
  }
  .upload-bill-chooseSection__button {
    font-size: 10px;
    padding: 5px;
  }
}
