.add-item-form {
  width: 100%;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
}

.add-item-form__container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.add-item-form__heading {
  background-color: var(--grey-color);
  font-size: 24px;
  line-height: 1.25;
  margin: 0 0 34px 0;
}

.add-item-form__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.25;
  gap: 6px;
}

.add-item-form__input {
  border: 2px solid #BDBDBD;
  border-radius: 12px;
  padding: 17px 21px;
  font-size: 14px;
  line-height: 1.28;
}

.add-item-form__input:focus {
  outline: none;
  border: none;
  -webkit-appearance: none;
  box-shadow: -.3px -.3px 2px 2px var(--orange-color);
}

.add-item-form__label:focus-within {
  color: var(--orange-color);
}

.add-item-form__label_type_name {
  margin: 0 0 18px;
}

.add-item-form__label_type_note {
  margin: 0 0 25px;
}

.add-item-form__label_type_image {
  margin: 0 0 33px;
}

.add-item-form__buttons {
  margin: 10px auto;
}

.add-item-form__btn {
  width: 87px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  padding: 21px 0;
}

.add-item-form__btn_type_reset {
  background-color: var(--white-color);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  margin-right: 10px;
}

.add-item-form__btn_type_submit {
  background-color: var(--orange-color);
  color: var(--white-color);
  opacity: .8;
}

.add-item-form__btn:hover {
  opacity: .5;
  cursor: pointer;
}

.add-item-form__error {
  font-size: 12px;
  line-height: 1.25;
  height: 14px;
  color: var(--red-color);
}

.add-item-form__btn_disabled {
  background-color: var(--grey-color2);
  color: var(--white-color);
}

@media screen and (max-width: 768px) {
  .add-item-form__container {
    margin: 10px;
  }
  .add-item-form__heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .add-item-form__input {
    padding: 10px 10px;
    font-size: 12px;
  }
  .add-item-form__label_type_name {
    margin: 0 0 10px;
  }
  .add-item-form__label_type_note {
    margin: 0 0 10px;
  }
  .add-item-form__label_type_image {
    margin: 0 0 10px;
  }
  .add-item-form__buttons {
    position: relative;
    bottom: 0;
  }
  .add-item-form__btn {
    width: 70px;
    padding: 15px 0;
  }
}

@media  screen and (max-width: 680px) {
  .add-item-form__container {
    width: 80%;
  }
}
